@import 'normalize.css';

:root {
  --font-base: 'Inter', 'Roboto', sans-serif;
  --font-heading: 'Playfair Display', serif;
}

body {
  background-color: black;
  width: 100%;
  overflow-x: hidden;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.burger-button-menu {
  cursor: pointer;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 6px;
  width: 48px;
  height: 10px;
  background: transparent;
  z-index: 1000;
  justify-self: end;
}

.header-text {
  color: white;
  font-family: var(--font-base);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 20px;
  justify-self: center;
  z-index: 1000;
}
.header {
  top: -140px;
  width: 100%;
  align-items: center;
  height: 140px;
  position: fixed;
  padding-right: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  transition: top 0.3s ease;
}




.header.visible {
  top: 0;
}
.header-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 140px; /* задай фиксированную высоту */
  padding: 0 20px;
  max-width: 1610px;
  margin-left: auto;
  margin-right: auto;
}
.header-media {
  display: flex;
  gap: 40px;
  padding-left: 0;
  justify-self: start;
  z-index: 1000;
  list-style-type: none;
}

.wrappper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1610px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.burger-button-menu span {
  width: 100%;
  height: 2px;
  background: white;
  transition: all 0.3s ease;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #E8594E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  z-index: 900;
}
.overlay-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.overlay-menu-list li a {
  text-decoration: none;
  font-size: 40px;
  font-family: var(--font-base);
  color: white;
  font-weight: 600;
}
.overlay-menu-list li:not(:last-child) {
  margin-bottom: 1.875rem;
}
.burger-button-menu.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 0);
}

.burger-button-menu.active span:nth-child(2) {
  transform: rotate(-45deg) translate(5px, 0);
}

.no-scroll {
  overflow: hidden;
}

.overlay-menu.active {
  transform: translateY(0);
}
@keyframes flash {
  0% { opacity: 1; }
  25% { opacity: 0.3; }
  50% { opacity: 1; }
  75% { opacity: 0.3; }
  100% { opacity: 1; }
}

.flash {
  animation: flash 0.6s ease;
}